<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} - Details</h2>
  <div class="main-content">

    <label for="heroname">Nom</label>
    <input [(ngModel)]="hero.name" autocomplete="false" id="heroname" placeholder="nom"/>

    <label for="attaque">Attaque</label>
    <input [(ngModel)]="hero.attaque" [max]="getMaxStat(hero.attaque)" autocomplete="false" id="attaque"
           placeholder="attaque" type="number">

    <label for="esquive">Esquive</label>
    <input [(ngModel)]="hero.esquive" [max]="getMaxStat(hero.esquive)" type="number" placeholder="esquive" id="esquive"
           autocomplete="false">

    <label for="degats">Degats</label>
    <input [(ngModel)]="hero.degats" [max]="getMaxStat(hero.degats)" type="number" placeholder="degats" id="degats"
           autocomplete="false">

    <label for="pv">PV</label>
    <input [(ngModel)]="hero.pv" [max]="getMaxStat(hero.pv)" type="number" placeholder="pv" id="pv"
           autocomplete="false">

    <label for="weapon">Arme:</label>
    <select (change)="updateStats()" [(ngModel)]="hero.weaponId" id="weapon">
      <option *ngFor="let weapon of weapons" [value]="weapon.id">{{weapon.name}}</option>
    </select>
    <button (click)="clearWeapon()" *ngIf="hero.weaponId" class="clearWeapon">Retirer l'arme</button>

    <label>Points restants</label>
    <input [value]="getPointsRestants()" disabled>

    <div *ngIf="isHeroValid() && heroExists()">
      <button (click)="updateHero()" class="btn btn-primary" type="button">Valider</button>
    </div>

    <div *ngIf="isHeroValid() && !heroExists()">
      <button (click)="createHero()" class="btn btn-primary" type="button">Créer</button>
    </div>

  </div>
  <button (click)="goBack()" class="btn btn-secondary">Gotta go back !</button>
</div>
